# Environment variables (IMPORTANT)
.env
.env.*
!.env.example

# Node
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build
dist
dist-ssr
build/
out/

# Local files
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python (for AI service)
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# OS
Thumbs.db